{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription Drug Abuse</title>
</head>

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">Sections</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a class="active" href="#about">About</a></li> 
    </ul>

    <body>
    <header>
        <h1> Prescription Drug Abuse</h1>
    </header>
    
    <body>

    <h1>What is Prescription Drug Abuse</h1>
        <section class="section1">
            <p>Prescription drug abuse is when someone uses medication in a way that is not intended by a doctor. This can include taking someone else's medicine, using more than the prescribed amount, or taking it to feel a different effect, like getting high. This misuse can be very dangerous and lead to health problems, addiction, or even death. It's important to use prescription drugs only as directed by a healthcare professional to stay safe and healthy.</p>
        </section>

        </body>

        {{ chart|safe }}
        
        <h1>Symptoms of Prescription Drug Abuse</h1>
      
        <section class="section2"> 

        <h2>Physical Symptoms:</h2>

            <p>Changes in appetite or weight</p>
            <p>Unusual body odors</p>
            <p>Drowsiness</p>
            <p>Extreme fatigue</p>
            <p>Slurred speech</p>
            <p>Poor coordination</p>
            
        <h2>Psychological Symptoms:</h2>

            <p>Mood swings</p>
            <p>Increased irritability</p>
            <p>Anxiety or paranoia</p>
            <p>Depression</p>
            <p>Confusion</p>
            <p>Difficulty concentrating</p>

       <h2>Behavioral Symptoms:</h2>
      
            <p>Frequent requests for refills before the prescription is due</p>
            <p>"Doctor shopping" (visiting multiple doctors to obtain more prescriptions)</p>
            <p>Changes in social behavior, such as withdrawing from friends and family</p>
            <p>Engaging in risky behaviors</p>

        <h3>If you notice these signs in yourself or someone else, it's important to seek help from a healthcare professional.</h3>
        
  </section>

        {{ chart2|safe }}

        <h1>Why is it on the Rise?</h1>
        <section class="section3">  
            <p>The rise in prescription drug abuse is influenced by several factors, including increased availability and prescription rates due to overprescription and aggressive marketing by pharmaceutical companies, which have made these drugs more accessible. Many people perceive prescription drugs as safer than illegal drugs, leading to misuse driven by misconceptions and lack of awareness about their addictive potential.</p>
            <p>Economic factors, like limited access to healthcare, and the presence of unused medications in households further exacerbate the issue. Inadequate monitoring and regulation, despite the implementation of Prescription Monitoring Programs (PMPs), allow for practices like "doctor shopping."</p>
            <p>Mental health issues also play a significant role, with individuals self-medicating for conditions like anxiety, depression, or chronic pain. Social and cultural factors, such as the social acceptance of prescription drug misuse and peer pressure, particularly among teenagers and young adults, contribute to the problem.</p>
        </section>
        

        <h2>What is the most common prescription drug abuse?</h2>
  
        <section class="section4">
            <p>The most commonly abused prescription is Opioids. Opioids are typically prescribed for pain relief. Commonly abused opioids include oxycodone (OxyContin), hydrocodone (Vicodin), and morphine.</p>
            <p>They produce euphoria by increasing dopamine levels in the brain, which can lead to misuse. Tolerance builds quickly, requiring higher doses and increasing addiction risk. </p>
            <p>Physical dependence can also lead to withdrawal symptoms if usage is reduced or stopped. Misuse occurs when people take higher doses than prescribed, use someone else's medication, or seek the drug for non-medical reasons.</p>
        </section>
        
        {{ chart4|safe }}
        
        
        <h2>Other Commonly Abused Prescription Drugs and the Surge in Overdose Hospitalizations</h2>
        
        <section class="section5">
            <p>Other most commonly abused prescription drugs are.. 
            <p>Central Nervous System (CNS) Depressants: These are prescribed for anxiety and sleep disorders. Commonly abused CNS depressants include benzodiazepines like alprazolam (Xanax) and diazepam (Valium), as well as sleep medications like zolpidem (Ambien). </p>
            <p>Stimulants: These are prescribed for attention deficit hyperactivity disorder (ADHD) and certain sleep disorders. Commonly abused stimulants include amphetamine (Adderall) and methylphenidate (Ritalin). </p>
            <p>For example, take a look at table 2 below, it shows the amount hospital entries alone from drug overdoses.</p>
        </section>

        <h1>How does it differ between races?</h1>
        <section class="section6">
            <p>To understand how drug abuse differs between races, it is essential to examine various factors influencing these disparities. Prescription drug abuse, in particular, can vary significantly among racial and ethnic groups due to differences in healthcare access, socioeconomic conditions, systemic biases, and cultural attitudes towards drug use. By analyzing data on prescription drug abuse rates across different racial groups, we can uncover patterns and trends that highlight these disparities. This examination helps in identifying specific challenges faced by each group and informs targeted interventions and policies to address the issue more effectively.</p>
            <p>The table reveals that Black/African American groups have the highest overdose death rates, while Asian/Pacific Islander groups have the lowest. Rates for other groups also vary from 2020 to 2022.</p>
        </section>
        {{ chart3|safe }}
    

        <h1>Some are Unintentional..</h1>
        <section class="section7">
            <p>It can be in several different ways. 
            <p>Medication Misuse: Taking higher doses or using medications more frequently than prescribed due to misunderstanding instructions. </p>
            <p>Lack of Awareness: Not knowing about the addictive potential of certain medications.</p>
            <p> Drug Interactions: Harmful effects from combining medications without realizing the risks.</p>
            <p> Sharing Medications: Giving prescriptions to others, leading to misuse. </p>
            <p>Gradual Dependence: Developing a physical dependence over time without realizing it. </p>
            <p>Miscommunication: Poor communication with healthcare providers about proper medication use.</p>
        </section>


        <h1>What can you DO and How can you HELP?</h1>
        <section class="section9">
            <p>You need to HEAL in order to ASPIRE to create a healthier, drug-free community.</p> 
            <p><strong>H</strong> 1. Health Awareness: Follow your healthcare provider's instructions and understand your medication's risks.</p>
            <p><strong>E</strong> 2. Ensure Security: Store drugs safely and use a lockbox if needed.</p>
            <p><strong>A</strong> 3. Ask & Discuss: Talk about any concerns or side effects with your healthcare provider.</p>
            <p><strong>L</strong> 4. Log & Monitor: Track your medication use and observe any changes in how you feel.</p>
       </section>

        
  <h1>How can YOU help?</h1>
        
  <section class="section10">
            <p><strong>A</strong> Awareness Promotion: Share information about prescription drug abuse.</p>
            <p><strong>S</strong> Support Prevention: Join community efforts against drug abuse.</p>
            <p><strong>P</strong> Promote Communication: Create a space for open discussion about medication use.</p>
            <p><strong>I</strong> Information Sharing: Provide resources on treatment and support services.</p>
            <p><strong>R</strong> Role Modeling: Use medications responsibly and set a good example.</p>
            <p><strong>E</strong> Engage: Actively participate in and support initiatives that promote responsible medication use.</p>
        </section>

       
  <h1>What needs to be implemented?</h1>
        
  
  <section class="section11">
            <p>1. Health Literacy and Education Programs</p>
           <p>For Patients: Educate on proper medication use, risks of misuse, and safe disposal.</p>
           <p>For Healthcare Providers: Train on patient education, recognizing misuse, and communication strategies.</p>
            <p>2. Critical Thinking and Education</p>
            <p>For Patients: Teach skills to understand and question their treatment plans.</p>
            <p>For Healthcare Providers: Focus on critical thinking in prescribing, considering non-drug treatments, and abuse potential.</p>
            <p>3. Enhanced Communication</p>
            <p>Patients and Providers: Encourage open dialogue about medications and concerns.</p>
            <p>Among Providers: Improve coordination to avoid overlapping prescriptions.</p>
            <p>4. Policy and System Improvements</p>
            <p>Prescription Monitoring: Strength</p>
    </section>
    
    


        
   
        
        
        

   
    
    
  

   

    {% endblock content %}
</body>
</html>